*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#project{
    height: 100%;
    width: 100%;
    background-color:rgb(213, 213, 213);
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}
#left-top-left{
    /*background-color: burlywood;*/
 padding: 40px;
}
#square{
    width: 25px;
    height: 25px;
    background-color: black;
    rotate: 45deg;
}
#left-top-right{
    /*background-color: bisque;*/
 justify-self: right;
 padding: 40px;
 text-align: right;
}
#left-top-right h4{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 550;
}
#left-top-right h5{
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
#left-top-right h6{
    display: none;
}
#left-center{
    /*background-color: aqua;*/
    grid-column: 1/3;
    padding: 40px;
}
#left-center h1:nth-child(2n){
    text-align: center;
}
#left-center h1{
    line-height: 7vw;
    text-transform: uppercase;
    font-size: 6.5vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#left-bottom{
    /*background-color: brown;*/
    grid-column: 1/3;
    padding: 60px;
   }
#left-bottom p{
 width: 59%;
 font-size: 17px;
 font-weight: 500;
 color: #666;
}
#right{
    grid-column: 3;
    grid-row: 1/4;
    padding: 40px;
    padding-right: 150px;
}
#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
#arrow{
    position: absolute;
    top: 50%;
    left: 52.5%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(144, 24, 24);
    color: #fff;
    padding: 15px;
    border-radius: 50%;
}
#arrow i{
    font-size: 30px ;
    font-weight: 100;
}
@media (max-width:600px) {
    #project{
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 34% 8%;
    }
    #right{
        grid-column: 1/4;
        grid-row: 4;
        padding: 11px 20px;
    }
    #left-top-left{
     padding: 25px;
    }
    #square{
        width: 15px;
        height: 15px;
    }
    #left-top-right{
     padding: 20px;
    }
    #left-top-right h4{
        display: none;
    }
    #left-top-right h5{
        display: none;
    }
    #left-center{
        grid-column: 1/4;
        padding: 8px 20px;
    }
    #left-center h1{
        line-height: 14vw;
        font-size: 17vw;
    }
    #left-bottom{
        grid-column: 1/4;
        padding: 0px 20px;
       }
    #left-bottom p{
     width: 76%;
     font-size: 14px;
    }
    #right video{
        height: 45vh;
    }
    #arrow{
        top: 53%;
        left: 50%;
        padding: 7px;
        transform: translate(-50%,-50%) rotate(90deg);
    }
    #arrow i{
        font-size: 18px ;
        font-weight: 150;
    }
    #left-center h1:nth-child(2n){
        text-align: right;
    }
    #left-top-right h6{
        display: initial;
        font-size: 20px;
    }
    
}